Repository SebastianPortocarrero/AgenteWSP: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-unit-tests, backend-security-tests, frontend-type-check, frontend-unit-tests, frontend-security-audit, safety-check, retire-check, bundle-size-check, comprehensive-quality-check

Path conditions:
  backend-unit-tests: any of: ^backend/ and \.py$
  backend-security-tests: any of: ^backend/ and \.py$
  frontend-type-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-unit-tests: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  frontend-security-audit: any of: ^frontend/package.*\.json$
  safety-check: any of: ^backend/requirements.*\.txt$
  retire-check: any of: ^frontend/package.*\.json$
  bundle-size-check: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  comprehensive-quality-check: any of: ^(backend|frontend)/

bot input
  frontend/src/components/ChatArea.tsx
Due: frontend-type-check, frontend-unit-tests, bundle-size-check, comprehensive-quality-check

cambio
  frontend/src/components/ConversationMonitor.tsx
Due: frontend-type-check, frontend-unit-tests, bundle-size-check, comprehensive-quality-check

cambio en Configuracion
  frontend/src/components/SettingsPanel.tsx
Due: frontend-type-check, frontend-unit-tests, bundle-size-check, comprehensive-quality-check

Cambios en el nginx
  backend/Dockerfile
  backend/src/optimizaciones_openai.py
  frontend/nginx.conf
Due: backend-unit-tests, backend-security-tests, comprehensive-quality-check

login conectado
  frontend/src/App.tsx
Due: frontend-type-check, frontend-unit-tests, bundle-size-check, comprehensive-quality-check

Cambios
  backend/src/busqueda_Web.py
  backend/src/indexador.py
  backend/src/orquestador.py
Due: backend-unit-tests, backend-security-tests, comprehensive-quality-check

Commit
  backend/src/main.py
  backend/src/orquestador.py
Due: backend-unit-tests, backend-security-tests, comprehensive-quality-check

Update App.tsx
  frontend/src/App.tsx
Due: frontend-type-check, frontend-unit-tests, bundle-size-check, comprehensive-quality-check

Cambios para produc
  .claude/settings.local.json
  backend/.watchignore
  backend/README.md
  backend/src/clean_test_db.py
  backend/src/main.py
  backend/src/memoria.py
  backend/src/orquestador.py
  backend/src/web_api.py
  backend/start_development.py
  backend/start_production.py
  frontend/src/App.tsx
  frontend/src/components/ConversationList.tsx
  frontend/src/components/ConversationMonitor.tsx
  frontend/src/data/mockData.ts
Due: backend-unit-tests, backend-security-tests, frontend-type-check, frontend-unit-tests, bundle-size-check, comprehensive-quality-check

Prodcusion
  .claude/settings.local.json
  .github/workflows/vercel-railway.yml
  DEPLOYMENT.md
  backend/.env.example
  backend/Procfile
  backend/explore_db.py
  backend/railway.json
  backend/src/main.py
  frontend/.env.example
  frontend/vercel.json
Due: backend-unit-tests, backend-security-tests, comprehensive-quality-check

Configurar CI/CD para Vercel + Railway
  frontend/.gitignore
Due: comprehensive-quality-check
